

<h2>List of Pizza</h2>
<div class="container-fluid">
	<div class="row">
		<% @products.each do |pizza| %>
		<div class="col-md-4 block" style="">
			<img src="<%= pizza.path_to_image %>" alt="<%= pizza.description %>" class="img-thumbnail">
			<p id="title">Pizza <%= pizza.title %></p>
			<p id="desc"><%= pizza.description %></p>
			<p>Size: <span><%= pizza.size %> sm</span></p>
			<p>Is spicy: <span><%= pizza.is_spicy? ? 'yes' : 'no' %></span></p>
			<p>Vegeterian: <span><%= pizza.is_veg? ? 'yes' : 'no' %></span></p>
			<p>Is best offer: <span><%= pizza.is_best_offer? ? 'yes' : 'no' %></span></p>
			<p>Price: <span><%= pizza.price %> uan</span></p>
		<button type="button" class="btn btn-success btn-sm" onclick="add_to_cart(<%= pizza.id %>)">Add to cart</button>
		</div>
		<% end %>
	</div>
</div>


